[Unit]
Description=clashRenew
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
Type=simple
Restart=on-abort
ExecStart=sh /usr/local/bin/cron.sh
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=default.target
